
.DS_Store

target/LoppemarkederAdminApp.war

target/classes/ApplicationResources$_run_closure1.class

*.class

target/classes/application.properties

target/classes/gsp/views.properties

target/*

*.data

*.log

.idea/ant.xml
